%h1 Login
    
= form_tag login_create_path do
    =label :user, :user_id, "User ID"
    =text_field :user, 'user_id', :id => 'login_id'
    
    =label :user, :email, "Email"
    =text_field :user, 'email', :id => 'login_email'
    
    = submit_tag 'Log Into My Account', :id => 'login_submit'
    %br
    = link_to 'Sign Up For An Account', new_user_path, :id => 'signup'